.App {
  text-align: center;
}

.landing-grid {
  background: #fbfbfb;
}

.git-logo {
  padding-top: 50px;
  padding-bottom: 70px;
}

.kyber-logo {
  max-height: 230px;
  max-width: 230px;
  padding-top: 10px;
  padding-bottom: 70px;
}

.footer {
  color: #fbfbfb !important;
  text-align: center !important;
  background-color: #333 !important;
  max-height: 50px;
}
